{% extends 'base.html' %}

{% block content %}

<h1>This is Product Page</h1>
<form action="{% url 'Search_Product' %}" method="GET">
    <label for="product_search">Search :- </label>
    <input type="text" name="product_name" id="search_product_id" placeholder="Product Name">
    <input type="submit" value="Search">
</form>

<br><br>
<table border="2">
    <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product category</th>
        <th>Product Manufacture Date</th>
    </tr>
    {% for pro in product %}
        <tr>
            <td>{{pro.name}}</td>
            <td>{{pro.price}}</td>
            <td>{{pro.category}}</td>
            <td>{{pro.manufacture_date}}</td>
        </tr>    
    {% endfor %}
</table>
<br>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    function search_product(){
        var product = document.getElementById('search_product_id').value;
        $.ajax({
        url: '/search_product/',
        data: {
            'product':product
        },
        dataType: 'json',
        success: function (data) {
            var i;
            for (i = 0; i < data.length; i++) {
                console.log(data[i]['fields']['name']);
            }
        }
      });
    }
</script> -->
{% endblock %}